@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,800&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  color: #e5e5e6;
  background-color: #131a26;
  display: flex;
  flex-direction: column;
  justify-content: fixed;
  align-items: center;
  min-height: 100vh;
}

.overall-status {
  width: 89%;
  max-width: 308px;
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 8px;
  background-color: #212937;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease-in-out;
}

.container {
  width: 75%;
  max-width: 890px;
  padding: 20px;
  border-radius: 10px;
  background-color: #212937;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.website {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

footer {
  text-align: center;
  margin-top: 20px;
  color: #888;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
  font-size: 20px;
  color: #888;
  transition: color 0.3s ease-in-out;
}

.social-icons a:hover {
  color: #252525;
}

.weather-info {
  background-color: #212937;
  border: 1px;
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
}

.weather-info h2 {
  color: #333;
  font-size: 20px;
  margin-bottom: 15px;
  position: relative;
}

.weather-info h2 {
  color: #ececec;
}

.weather-info p {
  color: #ffffff;
}

.weather-info p1 {
  font-size: 12px;
  color: #888;
}

.container p {
  font-size: 12px;
  color: #888;
}

.online {
  color: #14bb84;
}

.offline {
  color: #fc7474;
}

.twitter-container {
  margin-top: 20px;
}

.twitter-card {
  width: 95.8%;
  background-color: #212937;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.instagram-card {
  width: 35.4%;
  padding: 15px;
  margin: 1%;
  background-color: #212937;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.instagram-card h2 {
  font-size: 170%;
  margin-bottom: 10px;
  color: #ffffff;
}

/* Media Query for screens smaller than 600 pixels */
@media (max-width: 600px) {
  .container {
    padding: 10px;
    width: 90%;
  }

  .website {
    padding: 8px;
  }

  h1 {
    font-size: 24px;
  }

  .overall-status {
    max-width: 95%;
  }

  .weather-info {
    max-width: 85%;
  }

  .twitter-container {
    text-align: center;
  }

  .twitter-card {
    padding: 10px;
    margin: 0 auto; 
    max-width: 91%; 
  }

  .instagram-card{
    padding: 10px;
    margin: 3%; 
    width: 90%; 
  }
  .instagram-card h2 {
    text-align: center;

  }

  footer {
    font-size: 14px;
  }

  .social-icons a {
    font-size: 16px;
  }
}